.content-area
  .left-gutter
  .inner-content-area
    .inner-content-area-top
      .content-header-top
        p in planning the Ae'o tower, BCJ considered the area's rich history and its current landscape. From the geological features of the land to the nature of light and the prevailing winds.
      .deck-image
        img(src="images/deck.jpg")
      .the-facade
        h1 the facade
        p.facade-text The parking screen is an opportunity to provide an identity for the project and link the project phasing together through this shared cloak. The screen will be manipulated to express the ideas of the project while providing a breathable facade that will allow the garage to be naturally ventilated. The screen also   vsatisfies the fall- restraint requirement from the parking floors.
        p.facade-text Early studies were inspired by abstractions of local imagery: native vegetation, sails, and patterns. These concepts were vetted for communication of building concept, constructability, malleability, cost, and overall aesthetic. Each had their advantages, but lacked the flexibility, economy and malleability that a perforated screen system would provide. The perforated screen material is congruous with the idea of the veil and how this fabric can be manipulated to express kahe.
        h1#design design & inspiration
    hr
    .inner-content-area-bottom
      .content-header-bottom.the-green-edge
          p Great design comes from harnessing the subtleties of place. The history of the landscape informs the thinking behind every facet of the building's design.
      .view-image
        img(src="images/view.jpg")
      .the-green-edge
        h1 the green edge
        p Edge conditions in the parking garage become opportunities for bringing a sense of place to the project. Strategic areas will have planted edges in and around the perforated screening. These living elements will inform scale and create interest along the façade, and signify entry and gathering places at street level. The vegetated facades reinforce the idea of flow as they propagate thus transforming the building with their growth cycle, all the while creating an undeniable rich identity for the entire project.
        a(href="#") view amenities
  .right-gutter
  