.image-block
  .history
    .history-text
      h1 inspired<br>by<br>history
      p lorem ipsum dolor sit amet
  .nature
    .nature-text
      h1 shaped<br>by<br>nature
      p lorem ipsum dolor sit amet