label(for="offcanvas").biglabel
nav.main-navigation
  .logo
    a(href="#")
  //img(src="images/burger.png").toggle-nav
  label(for="offcanvas").toggle-nav
    img(src="images/burger.png").toggle-nav
    //span.navicon
  .nav-items
    a(href="#") design
    a(href="#") ward village
    a(href="#") amenities
    a(href="#") homes
    a(href="#") register