aside
  ul
    li 
      a(href="#") design
    li 
      a(href="#") ward village
    li 
      a(href="#") amenities
    li 
      a(href="#") homes
    li 
      a(href="#") register
    li 
      a(href="#").brown-nav.howard-hughes 
        img(src='images/WV_homepage_59.png')
    li 
      a(href="#").brown-nav.ward-village
        img(src='images/WV_homepage_62.png')
    li 
      a(href="#").brown-nav privacy policy
    li 
      a(href="#").brown-nav disclaimer