.register-cta
  //img(src="images/WV_homepage_40.png")
  .cta-h1
    h1 poised to become the new center of honolulu
  .cta-p  
    p Through Ward Village is a modern urban neighborhood, it's also deeply rooted in history and Hawaiian culture.
  a(href="#") explore ward village